
.banner-img01{
	width: 100%;
}

.bannerpage-herobanner{
	/*z-index: 2;*/
	width: 50%;
	position: fixed;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 100%, rgba(0, 0, 0, 0.85) 100%),
	url("../img/banner-hero.jpg") no-repeat center top;
	background-size: cover;
	height: 200px;
}


.carousel-cell{
	background-color: white;
}

.fotorama{
	    padding-left: 10%;
}

@media all and (min-width: 600px) {

.bannerpage-herobanner{
	height: 300px;
	width: 70%;
}

	}
@media all and (min-width: 800px) {

.bannerpage-herobanner{
	width: 78%;
}

	}