.bannerpage-herobanner h2{
	padding-top: 50px;
	margin: 0;
	font-size: 20px;
	font-weight: 300;
	color: white;
	left: 2%;
	position: absolute;
    top: 67px;
}
.bannerpage-section1{
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    position: relative;
	z-index: 1;
	background-color: white;
	border-bottom: 1px solid #EAEAEA;
	border-top: 1px solid black;
}
.bannerpage-section2{
    position: relative;
    z-index: 1;
	background-color: white;
}
.bannerpage-content h3{
	font-size: 25px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}
.bannerpage-content p{
	font-size: 12px;
    font-weight: 100;
    padding: 20px 20px 50px 20px;
    text-align: center;
    line-height: 18px;
}
.bannerpage-section1 img{
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
	 margin: 0 20%;
}
.banner-img01{
	width: 100%;
}

.bannerpage-content {
	z-index: 1;
	padding-top: 200px;
}
.bannerpage-herobanner{
	/*z-index: 2;*/
	width: 50%;
	position: fixed;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 100%, rgba(0, 0, 0, 0.85) 100%),
	url("../img/banner-hero.jpg") no-repeat center top;
	background-size: cover;
	height: 200px;
}


.carousel-cell{
	background-color: white;
}

@media all and (min-width: 600px) {

.bannerpage-herobanner h2{
	left: 3%;
	font-size: 60px;
}
.bannerpage-herobanner{
	height: 300px;
	width: 70%;
}
.bannerpage-content p{
    padding: 20px 50px 50px 50px;
}
.bannerpage-content {
	z-index: 1;
	padding-top: 300px;
}
.bannerpage-section1 img{
 margin: 0 50px;
}
	}
@media all and (min-width: 800px) {
.bannerpage-herobanner h2{
	left: 18%;
}
.bannerpage-herobanner{
	width: 100%
}

	}