.page-herobanner {
	display: flex;
	justify-content: center;
}

.content-header h2 {
	padding-top: 50px;
	margin: 0;
	font-size: 20px;
	font-weight: 300;
	color: white;
	/*left: 2%;*/
	position: relative;
	top: 67px;
}

.page-section1 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	position: relative;
	z-index: 1;
	background-color: white;
	border-bottom: 1px solid #EAEAEA;
	border-top: 1px solid black;
}

.page-section2 {
	position: relative;
	z-index: 1;
	background-color: white;
}

.page-content h3 {
	width: 100%;
	font-size: 25px;
	font-weight: 300;
	padding-top: 50px;
	text-align: center;
}

.page-content p {
	font-size: 14px;
	font-weight: 100;
	padding: 20px 20px 20px 20px;
	text-align: center;
	line-height: 18px;
}

.page-section1 img {
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
	margin: 0 20%;
}

.page-content {
	z-index: 1;
	padding-top: 200px;
	text-align: center;
}

@media all and (min-width: 600px) {
	.content-header h2 {
		font-size: 34px;
		right: 4%;
	}
	.page-content p {
		padding: 20px 50px 20px 50px;
	}
	.page-content {
		z-index: 1;
		padding-top: 300px;
	}
	.page-section1 img {
		margin: 0 50px;
	}
}

@media all and (min-width: 800px) {
	.content-header h2 {
		font-size: 50px;
	}
}