body{
	font-family: roboto, helvetica, sans-serif;
	font-weight: 100;
	font-size: 12px;
	color: #747474;
	margin: 0;
}
ul{
	list-style-type: none;
}
a{
	color: #747474;
}
.container{
	/*display: flex;
	min-width: 300px;*/
	padding-left: 50%;
}
.side-menu{
	position: fixed;
	width: 50%;
	background-color: #363636;
	    height: 100vh;
}
.logo{
	background: url(../img/logo02.png)no-repeat center 2rem;
	height: 153px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
}
.logo-subtext {
	margin:0;
	font-size: 14px;
	text-align: center;
	color: #de6950;
}
.logo-subtext span{
	text-transform: uppercase; 
}
.nav-menu{
	padding: 0px 50px;
	color: #9e4937;
	font-weight: 300;
}
.nav-menu li{
	line-height: 20px;
}
.nav-menu li:hover{
	color: #ee775d;
}
.summary{
	padding: 30px 50px;
	margin-bottom: 50px;
}
.contact-info{
	padding: 30px 50px;
	margin-top: 50px;
}
.contact{
	font-weight: 500;
	padding-bottom: 5px;

}
.contact-info p{
	margin: 1px 0;
}

.sns-icons{
	margin-top: 20px;
	display: flex;
}
i{
    padding-top: 4px;
}

.icon-container{
	margin-right: 10px;
	background-color: #4a4a4a;
	width: 20px;
	height: 20px;
	color: #de6950;
	text-align: center;
	border-radius: 20px;
}
.icon-container:hover{
	background-color: black;
}

@media all and (min-width: 600px) {
.side-menu{
	width: 250px;
}
.container{
	padding-left: 250px;
}

}