a .fa-github {
	font-size: 100px;
	text-align: center;
}


.webdevpage-herobanner{
	/*z-index: 2;*/
	width: 50%;
	position: fixed;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 100%, rgba(0, 0, 0, 0.85) 100%),
	url(".jpg") no-repeat center top;
	background-size: cover;
	height: 200px;
}


@media all and (min-width: 600px) {

.webdevpage-herobanner{
	height: 300px;
	width: 70%;
}

	}
@media all and (min-width: 800px) {

.webdevpage-herobanner{
	width: 78%;
}

	}
